<div class="swiper main-slider" v-cloak v-scope="FullSlider(props)" v-effect="initSlider($el)">
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      <img src="/uploads/slide-1.png" alt="">
    </div>
    <div class="swiper-slide">
      <img src="/uploads/slide-1.png" alt="">
    </div>
    <div class="swiper-slide">
      <img src="/uploads/slide-1.png" alt="">
    </div>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-scrollbar"></div>
</div>