.main-slider{
  margin-bottom: 40px;
  transition: all 100ms;
  opacity: 1;
  img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }
  &.not-ready{
    opacity: 0;
  }
}