.modal-root {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9998;
  width: 100%;
  height: 100vh;
}
.modal-bg {
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  width: 100%;
  height: 100%;
  @include breakpoint(max-width $pad-width){
    align-items: flex-end;
  }
}
.modal-window {
  z-index: 9999;
  background: #fff;
  padding: 0.2rem;
  border-radius: 2px;
  width: 100%;
  padding: 20px;
  max-width: var(--modal__max-width);
  opacity: 0;
  @include breakpoint(max-width $pad-width){
    opacity: 1;
    max-width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 70vh;
    border-radius: 25px 25px 0 0;
  }
}
.m-open .modal-window{
  animation: fadeIn .3s ease-in-out;
  opacity: 1;
  @include breakpoint(max-width $pad-width){
    animation: modalIn .3s ease-in-out;
  }
}
.m-close{
  visibility: hidden;
  @include breakpoint(max-width $pad-width){
    transition: delay .3s;
    transition-property: visibility;
  }
}
.m-close .modal-window{
  animation: fadeOut .3s fadeOut;
  @include breakpoint(max-width $pad-width){
    max-width: 100%;
    animation: modalOut .3s forwards;
  }
}
.modal-close-icon {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px;
  fill: #fff;
  width: 64px;
  height: 64px;
  cursor: pointer;
}

[aria-hidden="true"] { visibility: hidden; height: 0; }

@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@keyframes fadeOut {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}
@keyframes modalIn {
  0% {
    height: 0;
  }
  100% {
    height: 70vh;
  }
}
@keyframes modalOut {
  0% {
    height: 70vh;
  }
  100% {
    height: 0;
  }
}