<%
  var data = {
    title: "Главная",
  }
  var news ={
    "name": "Название",
    "text" : "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium cumque dolores facere, labore nihil odit temporibus vel voluptates. Atque doloribus error, facilis fugit incidunt laboriosam maxime quam sit vero voluptas?"
  }
%>
<%= _.template(require('./../includes/header.html').default)(data) %>
  <div>
    <div id="test"></div>
    <h2>Список новостей</h2>
    <div v-scope="{ count: 0 }" @vue:mounted="console.log('mounted on: ', $el)">
      {{ count }}
      <button @click="count++">inc</button>
    </div>
    <div v-scope>
      <button @click="eventBus.emit('on-change', 'test')">event</button>
    </div>
    <div class="news">
      <div class="news__item">
        <div class="news__name">Название</div>
        <div v-scope class="button-row">
          <button @click="store.favorite.add(1)">add</button>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h2>Спрайты svg:</h2>
    <svg class="svg-icon">
      <use xlink:href="<%=htmlWebpackPlugin.options.svgPath%>#sprite-pencil"></use>
    </svg>
    <svg class="svg-icon">
      <use xlink:href="<%=htmlWebpackPlugin.options.svgPath%>#sprite-freebsd"></use>
    </svg>
  </div>
<%= _.template(require('./../includes/footer.html').default)(data) %>
