<%
  var data = {
    title: "Главная",
  }
  var news = {
    "name": "Название",
    "text" : "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium cumque dolores facere, labore nihil odit temporibus vel voluptates. Atque doloribus error, facilis fugit incidunt laboriosam maxime quam sit vero voluptas?"
  }
%>
<%= _.template(require('./../includes/header.html').default)(data) %>
  <div class="component-block">
    <div class="component-name">Modal:</div>
    <div v-scope> 
      <div>
        <button class="btn btn-accent" @click="Modal.show('modal-1', {value:2})">Open modal with data: {value: 2}</button>
      </div>
      <div 
        v-scope="Modal.create({id: 'modal-1', width:400 }, {value: 0})"
        id="modal-1" 
        aria-hidden="true"
        @vue:mounted="mounted">
          <div>{{ data }}</div>
      </div>
    </div>
  </div>

  <div class="component-block">
    <div class="component-name">form:</div>
    <div v-scope="FeedBackForm()" class="form">
      <form @submit.prevent="submit">
        <div class="form-row">
          <input type="tel" name="phone" class="input-text"  required placeholder="Телефон">
        </div>
        <div class="form-row">
          <input type="email" name="email" class="input-text" required placeholder="e-mail">
        </div>
        <div class="form-row">
          <label class="checkbox">
            <span class="checkbox-label">save</span>
            <input type="checkbox" checked="checked">
            <span class="checkmark"></span>
          </label>
        </div>
        <div class="form-row">
          <button type="submit" class="btn btn-accent">Отправить</button>
        </div>
      </form>
    </div>
  </div>

  <div class="component-block">
    <div class="component-name">Static full slider</div>
      <div class="swiper main-slider not-ready" v-cloak v-scope="FullSlider({name: 'value'})" v-effect="initSlider($el)">
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <img src="/uploads/slide-1.png" alt="">
        </div>
        <div class="swiper-slide">
          <img src="/uploads/slide-1.png" alt="">
        </div>
        <div class="swiper-slide">
          <img src="/uploads/slide-1.png" alt="">
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-scrollbar"></div>
    </div>
  </div>

  <div class="component-block">
    <div class="component-name">Dynamic full slider</div>
    <div class="swiper main-slider" v-cloak v-scope="DynamicSlider({name: 'value'})" v-effect="initSlider($el)"></div>
  </div>

  <div class="component-block">
    <div class="component-name">Sprite svg:</div>
    <svg class="svg-icon" v-scope="SvgIcon('pencil')"></svg>
    <svg class="svg-icon" v-scope="SvgIcon('freebsd')"></svg>
  </div>
  
  <div class="component-block">
    <div class="component-name">News list and store:</div>
    <div class="favorite-count" v-scope>
      <div>count: {{ store.favorite.count }}</div>
      <div>items: {{ store.favorite.items }}</div>
    </div>
    <div class="news">
      <div class="news__list" data-list>
        <%for(var i = 0; i < 3; i++){%>
          <div class="news__item" data-item>
            <div class="news__name"><%=news.name%></div>
            <div class="news__text"><%=news.text%></div>
            <div class="news__action-row">
              <button 
                v-scope=""
                @click="store.favorite.add(<%=i%>)"
                class="btn btn-favorite">
                <svg class="svg-icon" v-scope="SvgIcon('heart')" v-if="!store.favorite.isSelected(<%=i%>)"></svg>
                <svg class="svg-icon" v-scope="SvgIcon('heart-filled')" v-else></svg>
              </button>
            </div>
          </div>
        <%}%>
      </div>
    </div>
  </div>

<%= _.template(require('./../includes/footer.html').default)(data) %>
